.col-xl{
 font-size: 3em;



}
.first{
    background: #c00000;
}
.second{
    background: #e36c0a;
}
.third{
    background: #ffc000;
}
.fourth{
    background: #00b050;
}
.fifth{
    background: #00b0f0;
}
